In [1]:
s = '8' * 70

while '2222' in s or '8888' in s:
    if '2222' in s:
        s = s.replace('2222', '88', 1)
    else:
        s = s.replace('8888', '22', 1)
    
s

'22'

In [3]:
s = '2' + '5' * 81

while '25' in s or '355' in s or '4555' in s:
    if '25' in s:
        s = s.replace('25', '4', 1)
    if '355' in s:
        s = s.replace('355', '2', 1)
    if '4555' in s:
        s = s.replace('4555', '3', 1)

s

'455'

In [5]:
s = '1' + '0' * 33

while '1' in s or '100' in s:
    if '100' in s:
        s = s.replace('100', '0001', 1)
    else:
        s = s.replace('1', '00', 1)

s.count('0')

51

In [6]:
s = '1' * 46 + '2' * 31

while '1111' in s:
    s = s.replace('1111', '2', 1).replace('222','1', 1)
s

'12'

In [8]:
def f(s):
    while '66' in s:
        s = s.replace('66', '1', 1).replace('11', '2', 1).replace('22', '6', 1)
    return s
    
for n in range(50):
    if f('6'*n) == '21':
        print(n)

6
13
20
27
34
41
48

In [14]:
s = '>' + '1' * 11 + '2' * 12 + '3' * 30

while '>1' in s or '>2' in s or '>3' in s:
    if '>1' in s:
        s = s.replace('>1', '22>', 1)
    if '>2' in s:
        s = s.replace('>2', '2>', 1)
    if '>3' in s:
        s = s.replace('>3', '1>', 1)

s.count('2') * 2 + s.count('1')

98

In [6]:
import itertools



max_sum = []

for s in itertools.product('12', repeat=14):
    if s.count("1") == 10 and s.count("2") == 4:
        s = "".join(s)
        
        while "11" in s:
            if "112" in s:
                s = s.replace("112", "6", 1)
            else:
                s = s.replace("11", "3", 1)

        max_sum.append(sum([int(i) for i in s]))
    
max(max_sum)

27

In [38]:
import itertools

d = '0123456'
c = 0

for i in itertools.product(d, repeat=7):
    i = "".join(i)
    
    if i[0] != '3' or i[0] != '5' or i[0] != '0':
        if '22' in i and '44' in i:
            continue
    
        c += 1
                
c

817891

In [52]:
d = '01234567'
c = 0



for string in itertools.permutations(d, r=5):
    string = "".join(string)
    if string[0] != '0':
        if '1' not in string:
            temp = ''
            for n in string:
                if int(n) % 2 == 0:
                    temp += '2'
                else: 
                    temp += '1'
            
            if temp == '12121' or temp == '21212':
                c += 1
                # print(temp, string)

c

180

In [1]:
s = '5' * 55 + '7'
while '722' in s or '557' in s:
    if '722' in s:
        s = s.replace('722', '57', 1)
    else:
        s = s.replace('557', '72', 1)
s

'57'

In [1]:
def algo(s):
    while '12' in s or '5522' in s or '2222' in s:
        if '12' in s:
            s = s.replace('12', '55', 1)
        if '2222' in s:
            s = s.replace('2222', '1', 1)
        if '5522' in s:
            s = s.replace('5522', '21', 1)
    return s


for n in range(3, 10000):
    s = '1' + '2' * n
    r = algo(s)
    summ = sum([int(i) for i in r])
    if summ == 142:
        print(n, s, r)
        break

67 12222222222222222222222222222222222222222222222222222222222222222222 55555555555555555555555555552