In [ ]:
s = '8' * 70

while '2222' in s or '8888' in s:
    if '2222' in s:
        s = s.replace('2222', '88', 1)
    else:
        s = s.replace('8888', '22', 1)
    
s

In [ ]:
s = '2' + '5' * 81

while '25' in s or '355' in s or '4555' in s:
    if '25' in s:
        s = s.replace('25', '4', 1)
    if '355' in s:
        s = s.replace('355', '2', 1)
    if '4555' in s:
        s = s.replace('4555', '3', 1)

s

In [ ]:
s = '1' + '0' * 33

while '1' in s or '100' in s:
    if '100' in s:
        s = s.replace('100', '0001', 1)
    else:
        s = s.replace('1', '00', 1)

s.count('0')

In [ ]:
s = '1' * 46 + '2' * 31

while '1111' in s:
    s = s.replace('1111', '2', 1).replace('222','1', 1)
s

In [ ]:
def f(s):
    while '66' in s:
        s = s.replace('66', '1', 1).replace('11', '2', 1).replace('22', '6', 1)
    return s
    
for n in range(50):
    if f('6'*n) == '21':
        print(n)

In [ ]:
s = '>' + '1' * 11 + '2' * 12 + '3' * 30

while '>1' in s or '>2' in s or '>3' in s:
    if '>1' in s:
        s = s.replace('>1', '22>', 1)
    if '>2' in s:
        s = s.replace('>2', '2>', 1)
    if '>3' in s:
        s = s.replace('>3', '1>', 1)

s.count('2') * 2 + s.count('1')

In [ ]:
import itertools



max_sum = []

for s in itertools.product('12', repeat=14):
    if s.count("1") == 10 and s.count("2") == 4:
        s = "".join(s)
        
        while "11" in s:
            if "112" in s:
                s = s.replace("112", "6", 1)
            else:
                s = s.replace("11", "3", 1)

        max_sum.append(sum([int(i) for i in s]))
    
max(max_sum)

In [ ]:
import itertools

d = '0123456'
c = 0

for i in itertools.product(d, repeat=7):
    i = "".join(i)
    
    if i[0] != '3' or i[0] != '5' or i[0] != '0':
        if '22' in i and '44' in i:
            continue
    
        c += 1
                
c

In [ ]:
d = '01234567'
c = 0



for string in itertools.permutations(d, r=5):
    string = "".join(string)
    if string[0] != '0':
        if '1' not in string:
            temp = ''
            for n in string:
                if int(n) % 2 == 0:
                    temp += '2'
                else: 
                    temp += '1'
            
            if temp == '12121' or temp == '21212':
                c += 1
                # print(temp, string)

c

In [ ]:
s = '5' * 55 + '7'
while '722' in s or '557' in s:
    if '722' in s:
        s = s.replace('722', '57', 1)
    else:
        s = s.replace('557', '72', 1)
s

In [ ]:
def algo(s):
    while '12' in s or '5522' in s or '2222' in s:
        if '12' in s:
            s = s.replace('12', '55', 1)
        if '2222' in s:
            s = s.replace('2222', '1', 1)
        if '5522' in s:
            s = s.replace('5522', '21', 1)
    return s


for n in range(3, 10000):
    s = '1' + '2' * n
    r = algo(s)
    summ = sum([int(i) for i in r])
    if summ == 142:
        print(n, s, r)
        break

In [ ]:
def f(s):
    while '01' in s or '02' in s or '03' in s:
        s = s.replace('01', '302', 1)
        s = s.replace('02', '3103', 1)
        s = s.replace('03', '20', 1)
    return s

import itertools

s = '011111111111111111122222222223333333333333333333'

f(s).count('1'), f(s).count('2'), f(s).count('3')

In [ ]:
def f(tring):
    while '11' in tring:
        if '112' in tring:
            tring = tring.replace('112', '7')
        else:
            tring = tring.replace('11', '3')
            
    return tring
        
# s = '1' * 12 + '2' * 4

import itertools

sums = 0

for s in itertools.permutations('1' * 12 + '2' * 4):
    if sums < sum([int(i) for i in f(s)]):
        sums = sum([int(i) for i in f(s)])
    
print(sums)

In [ ]:
import itertools

sums = []

for i in itertools.permutations('1' * 12 + '2' * 4):
    i = "".join(i)
    
    while '11' in i:
        if '112' in i:
            i = i.replace('112', '7', 1)
        else:
            i = i.replace('11', '3', 1)
    sums.append(sum([int(el) for el in i]))
    print(sum([int(el) for el in i]))
max(sums)

In [24]:
import itertools

sums = []

for s in itertools.permutations('9' * 100 + '2' * 48 + '1' * 14):
    s = "".join(s)
    
    while '999' in s or '22' in s:
        if '999' in s:
            s = s.replace('999', '12', 1)
        else:
            s = s.replace('22', '1', 1)
    
    print(s.count('1'), s)
    break

71 121212121212121212121212121212121212121212121212121212121212121212911111111111111111111111111111111111111

In [26]:
strings = set()

for i in range(1, 1000):
    s = '5' * i
    while '555' in s or '888' in s:
        s = s.replace('555', '8', 1)
        s = s.replace('888', '55')
    
    strings.add(s)
    
len(strings)

8

In [5]:
import time

start = time.time()

for n in range(3, 10000):
    s = "5" + "2" * n

    while "52" in s or "2222" in s or "1112" in s:
        if "52" in s:
            s = s.replace("52", "11", 1)
            s = s.replace("2222", "5", 1)
        else:
            s = s.replace("1112", "2", 1)
            
    if sum([int(i) for i  in s]) == 1685:
        print(n, time.time()-start)
        break

4200 3.445934772491455