# 14 Задача ЕГЭ питон

In [ ]:
num = (4 ** 2020) + (2 ** 2017) - 15
binary = bin(num)[2:]
binary.count("1")

In [ ]:
def to_any_base(number, in_base, out_base):
    number = int(str(number), in_base)
    answer = []
    while number > 0:
        answer.append(str(number % out_base))
        number = number // out_base
    answer = reversed(answer)
    return "".join(answer)

In [ ]:
number = str(49 ** 7 + 7 ** 20 - 28)
to_any_base(number, 10, 7).count("6")

In [73]:
from collections import Counter

In [74]:
number = 216 ** 6 + 216 ** 4 + 36 ** 6 - 6 ** 14 - 24
Counter(to_any_base(number, 10, 6))

Counter({'5': 14, '0': 2, '1': 1, '2': 1})

In [75]:
number = 5 * 343 ** 8 + 4 * 49 ** 12 + 7 ** 14 - 98
Counter(to_any_base(number, 10, 7))

Counter({'0': 12, '6': 11, '1': 1, '2': 1, '5': 1})

In [76]:
from string import digits, ascii_lowercase

In [77]:
alphabet = digits + ascii_lowercase[:5]

for x in alphabet:
    num = int("98" + x + "79641", 22) + int("25" + x + "49", 22) + int("63" + x + "5", 22)
    if num % 21 == 0:
        print(num / 21, x)

1112804491.0 2
1114522537.0 9

In [78]:
alphabet = digits + ascii_lowercase[:7]

for x in alphabet:
    num = int("8" + x + "5678", 25) + int("457" + x + "69", 25) + int("145" + x + "1", 25)
    if num % 23 == 0:
        print(num / 23)

5310266.0

In [84]:
alphabet = digits + ascii_lowercase[:2]

for x in alphabet:
    for y in alphabet:
        answer = int(x + "231" + y, 12) + int("78" + x + "98" + y, 14)
        if answer % 99 == 0 and x!= 0:
            print(answer / 99)

41428.0
43088.0

In [86]:
alphabet = digits[:8]

for x in alphabet:
    for y in alphabet:
        answer = int(y + "04" + x + "5", 11) + int("253" + x + y, 8)
        if y != 0 and answer % 117 == 0:
            print(answer/117)

224.0

In [98]:
alphabet = digits + ascii_lowercase[:4]


for a in range(1000):
    for x in alphabet:
        m = int("8" + x + "12" + x, 14)
        n = int("8" + x + "542", 14)
        
        if n % (a + m) == 0:
            print(a, "A")

801 A
802 A
803 A
804 A
805 A
806 A
807 A
808 A
809 A
810 A
811 A
812 A
813 A
814 A

In [102]:
num = 3 * 3125 ** 8 + 2 * 625 ** 7 - 4 * 625 ** 6 + 3 * 125 ** 5 - 2 * 25 ** 4 - 2024
num = to_any_base(num, 10, 25)
num.count("0")

9

In [121]:
alph = digits + ascii_lowercase[:8]

res = set()

for x in alph:
    for y in range(2, 18):
        try:
            num = int('5' + x + alph[y] + 'a', 18) +\
            int('18' + x + '7', y)
            res.add(num)
        except:
            ...

print(len(res))

116

In [124]:
alph = digits + ascii_lowercase[:6]
res = set()

for x in alphabet:
    for y in range(2, 16):
        try:
            num = int("5" + x + alph[y] + "C", 16)\
            + int("8" + x + x + "7", y)
            res.add(num) 
        except:
            ...

print(len(res))

84

In [8]:
num = 64**30 + 2**300 - 4
num = oct(num)[2:]
num.count("7"), num

(59,
 '10000000000000000000000000000000000000000777777777777777777777777777777777777777777777777777777777774')

In [18]:
def to_any_base(number, in_base, out_base):
    number = int(str(number), in_base)
    answer = []
    while number > 0:
        answer.append(str(number % out_base))
        number = number // out_base
    answer = reversed(answer)
    return "".join(answer)     

num = 3*16**8 - 4**5 + 3
to_any_base(num, 10, 4).count("3")

12

In [4]:
num = 9 ** 9 + 3 ** 21 - 7
thrird_num = ''

while num > 0:
    thrird_num += str(num % 3)
    num = num // 3
    
thrird_num.count('0'), thrird_num

(4, '2022222222222222220001')

In [4]:
def to_any_base(number, in_base, out_base):
    number = int(str(number), in_base)
    answer = []
    while number > 0:
        answer.append(str(number % out_base))
        number = number // out_base
    answer = reversed(answer)
    return "".join(answer)    

int("121", 3) + int("2112", 3)

to_any_base(84, 10, 3)

'10010'

In [3]:
num = 2*27**7 + 3**10-9

def to_any_base(num, out_base, in_base=10):
    n = ''
    while num > 0:
        n += str(num % out_base)
        num = num // out_base
    return n

to_any_base(num, 3).count('0')

13

In [5]:
num = 51*7**12 - 7**3 - 22

def to_any_base(num, out_base, in_base=10):
    n = ''
    while num > 0:
        n += str(num % out_base)
        num = num // out_base
    return n

sum([int(i) for i in to_any_base(num, 7)])

70

In [21]:
def to_any_base(num, out_base, in_base=10):
    n = ''
    while num > 0:
        n += str(num % out_base)
        num = num // out_base
    return n

def solution():
    for x in range(1, 10000):
        num = 125**200 - 5**x + 74
        if to_any_base(num, 5).count('4') == 100:
            yield x

print(list(solution()))

[502]

In [30]:
from string import ascii_lowercase
from collections import Counter

num = 11*15**65 + 18*15**38 - 14*15**17 + 19*15**11 + 18338
alph = '0123456789' + ascii_lowercase[:5]

def to_any_base(num, base):
    s = ''
    while num > 0:
        s += alph[num % base]
        num = num // base
        
    return s

Counter(to_any_base(num, 15))

Counter({'0': 36,
         'e': 20,
         '1': 3,
         '8': 1,
         '7': 1,
         '6': 1,
         '5': 1,
         '4': 1,
         '2': 1,
         'b': 1})

In [35]:
from string import ascii_lowercase

num = 3 * 3125 ** 8 + 2 * 625 **7 - 4 * 625 ** 6 + 3 *125 ** 5 - 2 * 25 ** 4 - 2024
alph = '0123456789' + ascii_lowercase[:25]

def to_any_base(num, base):
    s = ''
    while num > 0:
        s += alph[num % base]
        num = num // base
    return s

to_any_base(num, 25).count('0')

9

In [38]:
num = 6 * 144 ** 26 + 11 * 12 ** 75 - 48
alph = '0123456789' + ascii_lowercase[:2]

to_any_base(num, 12).count('b')

51

In [40]:
def solution():
    for x in range(10000):
        summ = 0
        num = 36**17-6**x+71
        while num > 0:
            summ += num % 6
            num //= 6
        if summ == 61:
            return x
        
solution()

24

In [41]:
num = 5*216**1156-4*36**1147+6**1153-875

to_any_base(num, 6).count('5') - to_any_base(num, 6).count('0')

1182

In [50]:
fl = True
for x in range(0, 21):
    if fl:
        for y in range(0, 21):
            if (int(f'12{y}{x}9', 21) + int(f'36{y}99', 21)) % 18 == 0:
                print((int(f'12{y}{x}9', 21) + int(f'36{y}99', 21)), x, y, 'solution')
                fl = False
                break

print((int(f'12{5}{3}9', 21) + int(f'36{5}99', 21)) / 18)

852282 3 0 solution
47594.0

In [10]:
from string import ascii_lowercase
d = '0123456789' + ascii_lowercase

for x in range(len(d)-1):
    for y in range(len(d)-1):
        if int(f'12{d[x]}643{d[y]}7', 36) % 36 == 0:
            print(d[x], d[y])

1271